.admin-dashboard {
  padding: 25px;
}

.dashboard-header h1 {
  color:#0da4bd;
  font-size: 32px;
  margin: 3px;
  font-weight: 600;
}

.dashboard-header p {
  font-size: 15px;
  color: #393a3b;
  margin-bottom: 25px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

.stat-card {
  background: white;
  padding: 22px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.07);
}

.stat-card mat-icon {
  font-size: 40px;
  color: #3b82f6;
}

.stat-card h2 {
  margin: 10px 0 5px;
  font-size: 28px;
}

.stat-card p {
  color: #6b7280;
  font-size: 14px;
}

.actions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.action-card {
  background: #f4f7ff;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #e7eaff;
}

.action-card mat-icon {
  font-size: 36px;
  color: #3b82f6;
  margin-bottom: 8px;
}

.action-card:hover {
  background: #e1eaff;
  transform: translateY(-4px);
}
