<mat-card class="sidebar" [class.collapsed]="isCollapsed">

  <!-- Sidebar Header -->
  <div class="sidebar-header">
    <span>Categories</span>

    <!-- Collapse Button -->
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>
  </div>

  <!-- Search Bar -->
  <div class="search-box" *ngIf="!isCollapsed">
    <mat-form-field appearance="outline" class="search-field">
      <mat-icon matPrefix>search</mat-icon>
      <input 
        matInput 
        placeholder="Search category..."
        [(ngModel)]="searchText"
      >
    </mat-form-field>
  </div>

  <!-- Category List -->
  <nav class="sidebar-nav">

    <!-- ALL QUIZZES -->
    <a routerLink="/user-dashboard/0" routerLinkActive="active">
      <mat-icon>view_list</mat-icon>
      <span *ngIf="!isCollapsed">All Quizzes</span>
    </a>

    <!-- Dynamic Categories -->
    <a *ngFor="let c of filteredCategories()"
       [routerLink]="'/user-dashboard/' + c.cid"
       routerLinkActive="active">
       
      <mat-icon>{{ getCategoryIcon(c.title) }}</mat-icon>
      <span *ngIf="!isCollapsed">{{ c.title }}</span>

    </a>

  </nav>

  <div class="sidebar-divider"></div>

</mat-card>
