.footer {
  background: #294482;;
  color: #e2e8f0;
  padding: 6px 35px 3px;
  margin-top: 40px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
}

.footer-section h3 {
  margin-bottom: 12px;
  color: #84a8d1;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #cbd5e1;
  transition: 0.2s;
}

.footer-section ul li a:hover {
  color: white;
  padding-left: 5px;
}

.brand {
  font-size: 24px;
  font-weight: 700;
  color: #8cb1de;
}

.tagline {
  margin-top: 5px;
  font-size: 13px;
  color: #cbd5e1;
}

.social-icons mat-icon {
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s;
  color: #9cbee4;
}

.social-icons mat-icon:hover {
  color: white;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #94a3b8;
}
